@import url("https://fonts.cdnfonts.com/css/source-sans-pro?styles=14484,14489,14486,14490,14491,14485,14483,14482,14488,14487,14493,14492");
@import url("https://fonts.cdnfonts.com/css/spin-cycle?styles=793");

:root {
  --color-primary: #c271ff;
  --color-secondary: #071629;
  --text-light: #ffffff;
  --text-dark: #000000;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background: url(./assets/background.png);
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
}

ul,
a {
  list-style-type: none;
  text-decoration: none;
  color: var(--text-light);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 150px;
  color: var(--text-light);
}

nav a img {
  width: 167.02px;
  height: 29.46px;
}

nav ul {
  display: flex;
  gap: 50px;
}

nav ul li a {
  font-size: 12px;
  font-weight: 700;
  line-height: 15.08px;
  text-align: left;
}

.banner {
  color: var(--text-light);
}

.top-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
}

.top-banner h1 {
  font-size: 120px;
  font-weight: 700;
  line-height: 150.84px;
}

.top-banner ul {
  display: flex;
  gap: 50px;
}

.top-banner ul li {
  margin-top: -15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.11px;
}

.top-banner button {
  font-size: 14px;
  font-weight: 600;
  line-height: 17.6px;
  background: var(--color-primary);
  color: var(--text-light);
  border: none;
  border-radius: 20px;
  outline: none;
  margin-top: 40px;
  padding: 10px 20px;
  cursor: pointer;
}

.bottom-banner h2 {
  margin-top: 150px;
  font-size: 32px;
  font-weight: 700;
  line-height: 40.22px;
  text-align: center;
}

.bottom-banner .learn {
  color: var(--color-primary);
}

.banner-pros {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-light);
  gap: 150px;
  margin: 109px 0 100px 0;
}

.pro-subs img {
  margin-bottom: 15px;
}

.pro-subs h3 {
  margin-bottom: 5px;
}

.quotes {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-primary);
  padding: 90px 200px;
  gap: 50px;
  color: var(--text-light);
}

.quotes-text blockquote {
  font-size: 22px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  padding-bottom: 20px;
}

.quotes-text h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 33.6px;
  text-align: left;
}

.quotes-text p {
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  line-height: 33.6px;
  text-align: left;
}

.videos {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.videos-list {
  padding: 80px 120px;
}

.videos-list h2 {
  font-size: 32px;
  font-weight: 300;
  line-height: 40.22px;
  text-align: center;
  padding-bottom: 80px;
}

.videos-list h2 span {
  font-size: 32px;
  font-weight: 700;
  line-height: 40.22px;
  text-align: center;
  color: var(--color-primary);
}

.videos-card {
  width: 255px;
}

.videos-card h3,
.videos-card p {
  padding: 10px 10px 0 10px;
}

.videos-card h3 {
  color: var(--color-secondary);
  font-size: 16px;
  font-weight: 700;
  line-height: 20.11px;
  text-align: left;
}

.videos-card p {
  color: var(--color-secondary);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.review-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.review-profile img {
  margin: 10px;
  width: 30px;
  height: 30px;
}

.review-profile h4 {
  color: var(--color-primary);
  font-size: 14px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
}

.review {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-primary);
  padding: 0 10px;
}

.review p {
  color: var(--color-primary);
  font-size: 14px;
  font-weight: 600;
  line-height: 27px;
  text-align: right;
}

.membership {
  background: var(--color-secondary);
  color: var(--text-light);
  padding: 50px 120px;
}

.membership h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40.22px;
  text-align: center;
  padding-bottom: 70px;
}

.membership span {
  color: var(--color-primary);
}

.member-smiles {
  display: flex;
  justify-content: center;
  gap: 50px;
  text-align: center;
}

.members h3 {
  padding-top: 15px;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
}

.members p {
  padding-top: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.membership button {
  margin: 100px auto 0;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.6px;
  background: var(--color-primary);
  color: var(--text-light);
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
}

.faq {
  padding: 70px 120px;
}

.faq h2 {
  padding-bottom: 50px;
  font-size: 60px;
  font-weight: 300;
  line-height: 75.42px;
  text-align: center;
}

.faq-1 {
  display: flex;
  gap: 100px;
}

.faq-text h3 {
  padding-bottom: 30px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.11px;
  text-align: left;
}

.faq-text p {
  padding-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

footer {
  background: var(--color-secondary);
  color: var(--text-light);
  /* padding: 70px; */
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 100px;
}

.footer-links {
  display: flex;
  gap: 30px;
}

.footerrr p {
  text-align: center;
  padding-bottom: 30px;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.08px;
}
