@import url("https://fonts.cdnfonts.com/css/source-sans-pro?styles=14484,14489,14486,14490,14491,14485,14483,14482,14488,14487,14493,14492");
@import url("https://fonts.cdnfonts.com/css/spin-cycle?styles=793");

:root {
  --color-primary: #c271ff;
  --color-secondary: #071629;
  --text-light: #ffffff;
  --text-dark: #000000;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

ul,
a {
  list-style-type: none;
  text-decoration: none;
  color: var(--text-light);
}

body {
  background: url(./assets/background.png);
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 150px;
  color: var(--text-light);
}

nav a img {
  width: 167.02px;
  height: 29.46px;
}

nav ul {
  display: flex;
  gap: 50px;
}

nav ul li a {
  font-size: 12px;
  font-weight: 700;
  line-height: 15.08px;
  text-align: left;
}

.banner {
  color: var(--text-light);
}

.top-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
}

.top-banner h1 {
  font-size: 120px;
  font-weight: 700;
  line-height: 150.84px;
}

.top-banner ul {
  display: flex;
  gap: 50px;
}

.top-banner ul li {
  margin-top: -15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.11px;
}

.top-banner button {
  font-size: 14px;
  font-weight: 600;
  line-height: 17.6px;
  background: var(--color-primary);
  color: var(--text-light);
  border: none;
  border-radius: 20px;
  outline: none;
  margin-top: 40px;
  padding: 10px 20px;
  cursor: pointer;
}

.bottom-banner h2 {
  margin-top: 150px;
  font-size: 32px;
  font-weight: 700;
  line-height: 40.22px;
  text-align: center;
}

.bottom-banner .learn {
  color: var(--color-primary);
}

.banner-pros {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-light);
  gap: 150px;
  margin: 109px 0 100px 0;
}

.pro-subs img {
  margin-bottom: 15px;
}

.pro-subs h3 {
  margin-bottom: 5px;
}

.quotes {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-primary);
  padding: 90px 200px;
  gap: 50px;
  color: var(--text-light);
}

.quotes-text blockquote {
  font-size: 22px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  padding-bottom: 20px;
}

.quotes-text h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 33.6px;
  text-align: left;
}

.quotes-text p {
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  line-height: 33.6px;
  text-align: left;
}
